[submodule "docs"]
	path = docs
	url = https://github.com/138over/woo-docs
[submodule "client"]
	path = client
	url = https://github.com/138over/woo-client
[submodule "utils"]
	path = utils
	url = https://github.com/138over/woo-utils
[submodule "gradle-plugin"]
	path = gradle-plugin
	url = https://github.com/138over/woo-gradle-plugin
